.wrapper {
  width: 60%;
  margin: 0 auto;
}

.gallery {
  margin-bottom: 20px;
  background: #bbbaba;
  background: radial-gradient(circle, #bbbaba 60%, #f0eeee 100%);
}

.video_player {
  margin-bottom: 5vh;
}

@media (max-width: 767px) {
  .wrapper {
    width: 90%;
  }  
}

@media (max-width: 576px) {
  .wrapper {
    width: 100%;
  }  
}
