header {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url("https://images.unsplash.com/photo-1437846972679-9e6e537be46e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1502&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 8vh;
}
.page_header {
  height: 25vh;
  margin-bottom: 2vh;
}

.rowOne {
  height: 24%;
  padding: 0 2% 0 1%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.rowOne div {
  background: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
.rowOne img {
  height: 100%;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
.rowOne img:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.rowOne select {
  min-height: 15px;
  height: 40%;
  text-align: center;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.15);
  outline: none;
  font-family: sans-serif;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}

.rowOne select:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.35);
}
.rowTwo {
  height: 20%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.rowTwo button {
  height: 40%;
  width: 30px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
  transition: 0.2s ease-in-out;
}
.rowTwo button:hover {
  transform: scale(1.2);
}
.rowThree {
  height: 30%;
  display: flex;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
}
.rowThree input {
  height: 30%;
  min-height: 26px;
  width: 85%;
  border-radius: 10px;

  outline: none;
  border: none;
  text-align: center;
  font-family: Verdana, sans-serif;
}
.rowThree button {
  height: 30%;
  min-height: 26px;
  width: 40px;
  cursor: pointer;
  border: none;
  outline: none;
  background: #ffffff;
  padding: 5px;
}
.rowThree img {
  height: 100%;
}

@media (max-width: 600px) {
  header {
    height: 30vh;
    margin-bottom: 4vh;
  }
  .page_header {
    height: 22vh;
    margin-bottom: 4vh;
  }
  .rowOne {
    height: 18%;
    display: block;
  }
  .rowThree input {
    height: 26%;
    width: 80%;
  }
}
.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.473);
  z-index: 1;
}
.subscriptionForm {
  position: fixed;
  top: 5vh;
  right: 1vw;
  left: 1vw;
  min-width: 320px;
  background: gainsboro;
  z-index: 2;
  margin: 0 auto;
  width: 80vw;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(35deg, #ccffff, #ffcccc);
}
.subscriptionForm input {
  display: block;
  margin: 40px auto;
  border-radius: 7px;
  border: inherit;
}
.subscriptionForm button {
  background: khaki;
  border: inherit;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  background: rgba(35, 185, 29, 0.932);
}
.headerButtons {
  display: flex;
  flex-direction: column;
}
.headerButtons button {
  margin-top: 10px;
  margin-right: 10px;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 6px;
  border: none;
  background: black;
  color: #ffffff;
  cursor: pointer;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 576px) {
  .subscriptionForm {
    width: 96vw;
    height: 96vh;
    right: 0;
    left: 0;
    top: 0;
    margin: 0 auto;
  }
}
