footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  height: 10vh;
  background-color: #363d48;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: auto;
  max-width: 80px;
}

.logo img {
  width: 100%;
}

.gitBlock {
  padding: 1% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.year {
  margin: auto;
  color: white;
}

.gitLogo {
  height: 24px;
}

.gitLinks {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

@media (max-width: 660px) {
  .gitBlock {
    display: flex;
    font-size: 10px;
  }
  .gitLinks {
    margin-right: 14px;
    color: white;
  }
  .logo {
    max-width: 60px;
  }
  .gitLogo {
    height: 18px;
  }
}

@media (max-width: 510px) {
  footer {
    height: 13vh;
  }
  .gitBlock {
    display: flex;
    flex-direction: column;
    font-size: 8px;
  }
  .gitBlock div {
    align-self: start;
  }
  .gitLinks {
    margin-right: 10px;
  }
  .logo {
    max-width: 40px;
  }
}