footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  height: 15vh;
  background-color: rgb(182, 169, 178);
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: auto;
  width: 50px;
}

.gitBlock {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.year {
  margin: auto;
}

.gitLogo {
  height: 20px;
}

.gitLinks {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}

@media (max-width: 500px) {
    .gitBlock {
        display: flex;
        flex-direction: column;  
      }
}

