*{
  margin: 0;
  padding: 0;
}

.outside_wrap {
  margin: 32px 42px;
}

.wrapper {
  background-color: transparent;
  height: 460px;
  min-width: 320px;
  width: 30%;
  margin: 32px 42px;
  border-radius: 15px;
  perspective: 1000px;
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.4s ease-out;
  transform-style: preserve-3d;
}

.wrapper:hover .inner {
  transform: rotateY(180deg);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;

  font-family: Tahoma, sans-serif;
  border-radius: 15px;
  box-shadow: -1px 0px 10px 3px rgba(0,0,0,.2);
  border: 2px solid rgb(233, 233, 233);
  backface-visibility: hidden;
}

.front {
  background-color: #bbb;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-size: 35px;
  text-transform: uppercase;
  color: black;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(46, 23, 15, 0.753);
  color: white;
  transform: rotateY(180deg);
}

.link {
  color: rgba(127, 255, 212, 0.562);
  text-decoration: none;
  cursor: pointer;
  transition: .2s;
}

.link:hover {
  color: aquamarine;
  transform: scale(1.02);
}

@media (max-width: 1024px) {
  .outside_wrap {
    margin: 16px 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    min-width: 280px;
  }
  .outside_wrap {
    margin: 16px 0;
  }
}