.wrapper,
.wrapper::before {
  border-radius: 15px;
}

.wrapper {
  transition: all 0.3s;
  font-family: Tahoma, sans-serif;
  height: 460px;
  min-width: 320px;
  width: 30%; 
  margin: 32px 42px;
  border-radius: 15px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  box-shadow: -1px 0px 10px 3px rgba(0,0,0,0.4);
  border: 2px solid rgb(233, 233, 233);
  cursor: pointer;
}
.wrapper::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.25); 
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.wrapper:hover {
  transform: scale(1.04);
  box-shadow: -1px 0px 20px 7px rgba(0,0,0,0.55);
}

.inner {
  font-size: 35px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.country,
.capital {
  position: absolute;
  width: 100%;
}
.country {
  top: 40px;
}
.capital {
  bottom: 40px;
}

.location {
  padding: 10px 3px;
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 1024px) {
  .wrapper {
    margin: 16px 20px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    min-width: 280px;
  }
}